<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709281914321-e37p2eu5ui5kt3q1105hhm82u0cqa4ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709281914321-e37p2eu5ui5kt3q1105hhm82u0cqa4ms</string>
	<key>API_KEY</key>
	<string>AIzaSyAsWOJUQhuo5Q2mo3jCQoz6Y4fsEHs5TFY</string>
	<key>GCM_SENDER_ID</key>
	<string>709281914321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>matteobavecchi.feedinapp</string>
	<key>PROJECT_ID</key>
	<string>civil-willow-211119</string>
	<key>STORAGE_BUCKET</key>
	<string>civil-willow-211119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709281914321:ios:36d4c9c0b93a8b829ad4f0</string>
	<key>DATABASE_URL</key>
	<string>https://civil-willow-211119.firebaseio.com</string>
</dict>
</plist>